.navContainer {
    display: flex;
    height: 70px;
    width: 60vw;
    margin: 0 auto;
    background: #fbfbfb;
    padding: 0em 2em 0em 2em;
}

.nav-left {
    flex: 1 1;
    display: flex;
    align-items: center;
}

.nav-right {
    flex: 1 1;
    display: flex;
    align-items: center;
}

img.logoTitile {
    width: 4em;
    height: 4em;
}

.fa-brands {
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: black;
}

.nav-left.wrapper {
    display: flex;
    align-items: center;
}

a.nav-left-img {
    display: flex;
    align-items: center;
}

.nav-right.wrapper {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-right.wrapper a {
    padding: 1em;
}

.nav-right-anchor-container a{
    padding: .35em;
    font-size: 1.15rem;
}

span.nameTitle {
    font-size: 1.5em;
}

.nav-left-home {
    padding-right: 1.5em;
}

.nav-left-social-links {
    padding-left: 1em;
    border-left: 1px solid;
}

.nav-left-social-links a {
    padding: .15em;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-right-anchor-container a {
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navContainer {
        width: 90vw
    }
}

@media screen and (max-width: 765px){
    .nav-right {
        display: none;
    }

    .nav-left {
        justify-content: space-around;
        flex: 20;
    }

    .nav-links-mobile {
        position: absolute;
        display: block;
        background-color: black;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }

    .nav-right.wrapper {
        flex-direction: column;
    }

    .about-me,
    .skills,
    .resume,
    .projects {
        color: white;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease-out;
    }

    .mobile-menu-icon {
        display: block;
        flex: 1;
        margin: auto;
        font-size: 30px;
        color: white;
        background-color: #ed7e7e;
        border: none;
    }
}