.skillsContainer {
    width: 60vw;
    margin: 0 auto;
    justify-content: center;
    padding: 2em 2em;
    background-color: #ffe4bc;

}

.skills-row-one {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.skill-logo {
    width: 5em;
    height: auto;
}

.skills-header-container {
    text-align: center;
    padding-bottom: 2em;
}

.skills-row-two {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

@media screen and (max-width: 1400px) {
    .skillsContainer {
        width: 90vw
    }
}

@media screen and (max-width: 600px) {
    .skill-logo {
        width: 4em;
    }

    .skillsContainer {
        padding: 1.5em 1.5em;
    }
}

@media screen and (max-width: 500px) {
    .skill-logo {
        width: 3.5em;
    }

    .skills-row-one, .skills-row-one, .skills-header-container {
        padding-bottom: 1.5em;
    }
}

@media screen and (max-width: 430px) {
    .skill-logo {
        width: 3em;
    }

    .skills-row-one, .skills-row-one, .skills-header-container {
        padding-bottom: 1em;
    }
}