.landing-container {
    background-color: #FDD93D;
    width: 70vw;
    margin: 0 auto;
    display: flex;
}

.landing-container-left {
    flex: 1;
}

.landing-container-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.landing-container-right img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.landing-container-left {
    display: flex;
    align-items: center;
}

.landing-container {
    padding: 3em 2em;
}

a.project-button {
    padding: .5em 3em;
    background: rgb(49, 50, 54);
    color: rgb(255, 255, 255);
    border-radius: .25em;
    border: none;
    margin-top: 1.75em;
    font-size: 1.25em;
}

a.project-button:hover {
    cursor: pointer;
    background-color: black;
}

p.landing-blurb {
    font-weight: 200;
    font-size: 1.25em;
    margin-bottom: 1.25em;
}

h1.landing-title {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    padding-bottom: .5em;
    font-weight: bold;
}

.cursor {
    animation: blink 1s linear infinite forwards;
}

@media screen and (max-width: 1400px) {
    .landing-container {
        width: 80vw
    }
}

@media screen and (max-width: 490px) {
    .landing-container {
        flex-direction: column-reverse;
    }

    .landing-container-left-text {
        display: flex;
        flex-direction: column;
    }

    a.project-button {
        text-align: center;
    }
}