.aboutMe-container {
    background: #FFB100;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    padding: 2em 4em 0em 0em;
}

.aboutMe-left {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-right: 2em;
}

h1.aboutMe-header {
    text-align: center;
    margin-bottom: .5em;
    font-size: 2.25em;
    margin-left: 0.75em;
    color: white;
}

/* img.samudraBitmoji {
    min-width: 100%;
    flex-shrink: 1;
}

.aboutMe-right {
    flex: 4;
    padding: 2em;
    background: #bebcbc;
    border-radius: 2em;
    margin-left: 2em;
}

.aboutMe-card {
    background: #fbfbfb;
    padding: 2em;
    border-radius: 1em;
} */

@media screen and (max-width: 1400px) {
    .aboutMe-container {
        width: 100vw
    }
}

@media screen and (max-width: 800px) {
    .aboutMe-container {
        flex-direction: column;
        align-items: center;
    }

    .aboutMe-left {
        padding-right: 0em;
        padding-bottom: 1em;
        max-width: 50%;
    }

    .aboutMe-right {
        margin-left: 0em;
        padding: .75em;
    }

    .aboutMe-card {
        padding: 1em;
    }

    h1.aboutMe-header {
        font-size: 1.5em;
    }

}

  .accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #21aeca;
  }
  
  .accordion-title:hover {
    background-color: #3ab4cc;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #39b9d2;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }